[user]
    name = Calin Seciu
[core]
    autocrlf = input
    fileMode = true
    editor = vim
[color]
    ui = auto
[push]
    default = simple
[pull]
    rebase = true
[rebase]
	autoSquash = true
[merge "ours"]
    # http://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Merge-Strategies
    driver = true
[alias]
    s = status --short --branch
    lg = log --oneline --all --graph --decorate
    # http://stackoverflow.com/a/9074343/1104534
    lga = log --all --graph --format=format:'%C(dim white)%h%C(reset) %C(yellow)[%cr] %an%C(reset)%C(auto)%d%C(reset)%n        %s'
    lgaf = log --name-status --all --graph --format=format:'%C(dim white)%h%C(reset) %C(yellow)[%cr] %an%C(reset)%C(auto)%d%C(reset): %s%n'
    unstage = reset HEAD --
    discard = checkout --
    # Show files ignored by git
    ign = ls-files -o -o --exclude-standard
    size = count-objects -H
    del-ref = update-ref -d
